.App {
    text-align: center;
}

.articles-list {
    width: 300px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.progress-wrap {
    height: 30px;
    margin-bottom: 50px;
}
